<h1>Listing chapters</h1>

<table>
  <tr>
    <th>Website</th>
    <th>Status</th>
    <th>Notes</th>
    <th>Coordinator</th>
  </tr>

<% @chapters.each do |chapter| %>
  <tr>
    <td><%=h chapter.website %></td>
    <td><%=h chapter.status %></td>
    <td><%=h chapter.notes %></td>
    <td><%=h chapter.coordinator.name %></td>
    <td><%= link_to 'Show', chapter %></td>
    <td><%= link_to 'Edit', edit_chapter_path(chapter) %></td>
    <td><%= link_to 'Destroy', chapter, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New chapter', new_chapter_path %>